uploaded_image_processor.asl.yaml
Comment: Tacocat Gallery Image Processor
StartAt: Pass
States:
  Pass:
    Type: Pass
    Result:
      value: Hello from a state machine!
#    Next: ExtractImageMetadata
#  ExtractImageMetadata:
#    Type: Task
#    Resource: ${ExtractImageMetadataLambdaArn}
#    InputPath: $
#    ResultPath: $.extractedMetadata
#    Next: ImageTypeCheck
#    Catch:
#      - ErrorEquals:
#          - ImageIdentifyError
#        Next: NotSupportedImageType
#    Retry:
#      - ErrorEquals:
#          - ImageIdentifyError
#        MaxAttempts: 0
#      - ErrorEquals:
#          - States.ALL
#        IntervalSeconds: 1
#        MaxAttempts: 2
#        BackoffRate: 1.5
#    Next: Invoke My Lambda
#  Invoke My Lambda:
#    Type: Task
#    Resource: arn:aws:states:::lambda:invoke
#    OutputPath: $.Payload
#    Parameters:
#      Payload.$: $
#      FunctionName: "${HelloWorldFunctionArn}"
#    Retry:
#      - ErrorEquals:
#          - Lambda.ServiceException
#          - Lambda.AWSLambdaException
#          - Lambda.SdkClientException
#          - Lambda.TooManyRequestsException
#        IntervalSeconds: 1
#        MaxAttempts: 3
#        BackoffRate: 2
    End: true
